@import url('https://fonts.googleapis.com/css?family=Gelasio&display=swap:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap:100,200,300,400,500,600,700');
/* ---------------------colors */
.bg-color-name-title{
    background-color: rgb(255, 238, 0);
}

.ui-menu-color-home {
    background-color: rgb(212, 21, 21);
}

.ui-menu-color-resume {
    background-color: rgb(231, 103, 44);
}

.ui-menu-color-contact {
    background-color: rgb(230, 182, 53);
}

.ui-menu-color-download {
    background-color: rgb(2, 131, 77);
}
/* ---------------------------Special paddings/margins/texts */

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #e4e3ee;
}

.inline-block {
    display: inline-block;
}

/* --------------------heading */
header {
    margin:0;
}

.heading {
    margin-left:50px;
}
.logo {
    background: url("../images/rosie.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 348px;
    position: relative;
    transition:all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}



.name {
    font-family: "Exo", sans-serif;
    color: blue;
    font-weight: 500;
    font-size: 46px; 
    margin-top: 50px;

}

.title {
    font-family: "Oswald", sans-serif;
    color: #060496;
    font-weight: 500;
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 90px;
   
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0;
}
 #nav li {
    font-size: 14px;
    padding: 0;
    transform-origin: bottom;
}

#nav li:hover {
    transform: scale(1.2,1.2);
    z-index: 100;
    transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -webkit-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    
}
 .menuitem {
     min-height: 100%;
     text-align: center;
     padding: 0;
 }

 .menuitem a {
     font-family: 'Exo', arial;
     color:rgb(23, 23, 133);
     width: 100%;
     text-decoration: none;
     height: 120px;
 }

 .menuitem i {
     padding-top: 22px;
     display: block;
     color:#ecebf3;
     font-size: 26px;
 }

 .menuitem span {
     display: inline-block;
     width: 100%;
     padding-top: 5px;
     text-align: center;
     text-transform: uppercase;
     font-size: 14px;
     font-weight: 300px;
     letter-spacing: 2px;
 }
 

/* --------------------------Hover.css */


.hvr-sweep-to-bottom:before {
     background: rgb(163, 163, 125, 0);
     height: 120px;   
}


/* --------------------------footer */

footer {
    background-color: rgb(26, 108, 201);
    color: #cbccd1;
    min-height: 120px;
    margin: 0;
}

.cv-pdf i {
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: rgb(180, 123, 17);
}

.social-links {
    padding-bottom:  15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #2a57eb;
    background: #eee12c;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;   
}

.social-links li a i:hover {
    background: rgb(207, 99, 10);

}